.footer {
    height: auto;
    padding: 5vh 0; 
    background-color: #BBC7CE;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 55px 50px;
  }

.footer .f-left,
.footer .f-center,
.footer .f-right{
	display: inline-block;
	vertical-align: top;
}

.footer .f-left{
	width: 40%;
}

.footer h3{
	color: black;
    font: 36px 'Inika', cursive, sans-serif;	
    margin: 0;
}

.footer h3 span{
	color: black;
}

.footer .f-liens{
	color:  black;
	margin: 20px 0 12px;
	padding: 0;
}

.footer .f-liens a{
	display:inline-block;
	line-height: 1.8;
    font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer .f-center{
	width: 35%;
}

.footer .f-center i{
	background-color: black;
	color: #BBC7CE;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer .f-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer .f-center p{
	display: inline-block;
	color: black;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer .f-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer .f-center p a{
	color: black;
	text-decoration: none;;
}

.footer .f-liens a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: black;
  display: inline-block;
  padding-right: 5px;
}

.footer .f-liens .lien-1:before {
  content: none;
}

.footer .f-right{
	width: 20%;
}

.footer .reseaux span{
	display: block;
	color:  black;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer .f-icons{
	margin-top: 25px;
}

.footer .f-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: black;
	border-radius: 50%;
	font-size: 20px;
	color: #BBC7CE;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

@media (max-width: 880px) {

	.footer{
		font: bold 14px sans-serif;
	}

	.footer .f-left,
	.footer .f-center,
	.footer .f-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer .f-center i{
		margin-left: 0;
	}

}